<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Bean Definition for Student class -->
	<bean id="student-bean"
		class="com.jsp.spring.SpringProject_DependecnyEnjection.Student">
		<constructor-arg name="studentId" value="101"></constructor-arg>
		<constructor-arg name="studentName" value="SAI SUHAS Y"></constructor-arg>
		<constructor-arg name="address" ref="address-bean"></constructor-arg>
	</bean>

	<!-- Bean Definition for Address class -->
	<bean id="address-bean"
		class="com.jsp.spring.SpringProject_DependecnyEnjection.Address">
		<constructor-arg name="addressLocation" value="kumarswamy layout"></constructor-arg>
		<constructor-arg name="addressCity" value="bengaluru"></constructor-arg>
	</bean>

</beans>